*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(14, 5, 22);
    -webkit-user-select: all; /* for Safari */
    user-select: all;
}

header{
    margin-bottom: 150px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-content{
    background-color: rgba(18, 2, 34, 0.788);
    width: 400px;
    height: 600px;
    border-radius: 15px;
    position: relative;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

img{
    height: 250px;
    width: 250px;
    opacity: 50%;
    display: block;
    margin-left: 70px;
    margin-top: 10px;
}

h1{
    padding-top: 80px;
    font-size: 24pt;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    color: antiquewhite;
}

.me{
    font-size: 16pt;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    color: antiquewhite;
    padding-bottom: 120px;
}

.social-media{
    padding: 3px;
    font-size: 11pt;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    color: antiquewhite; 
}

p::selection{
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 5);
}

h1::selection{
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 5);
}

img::selection{
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 5);
}

a::selection{
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 5);
}

a{
    text-decoration: none;
    color: aqua;
}